body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.8em;
  color: #666;
}

.img1, .img2, .img3{
  position: relative;
}

.img1 {
  background: url(/img/restaurant.jpeg)no-repeat ;
  background-size: 100vw;
  min-height: 100%;
}

.img2 {
  background: url(/img/cuttingboard.jpeg)no-repeat ;
  background-position-y: -120px;
  min-height: 400px;
  background-size: 100vw;

}

.img3 {
  background: url(/img/pouring.jpeg)no-repeat center; 
  /* background-position-y: -400px; */
  min-height: 400px;
  background-size: 100vw;

}
